h1 {
    text-align: center;
    margin-bottom: 50px;
}
a {
    color: black;
    text-decoration: none;
}
button {
    border: 0;
    background-color: transparent;
}
#sortImage {
    width: 30px;
    height: 30px;
}
.btn2{
    color: rgb(0, 0, 0);
    width: 10%;
    height: 30px;
    position:absolute;
    right: 2%;
    background-position: left;
    background-size: 200%;
    background-color: #E4F0FF;
    color:white;
    outline: none;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 3px 3px rgb(201, 201, 201);
}
.search {
    text-align: center;
    height: 40px;
    width: 70%;
    box-shadow: 0px 3px 4px rgb(201, 201, 201);
    background: #ffffff;
    border-radius: 8px;
    border:none;
    outline:none;
    margin: 15px;
}
.btn{
    width: 10%;
    height: 100%;
    border: 0px;
    background: #E4F0FF;
    outline: none;
    float: right;
    color: #000000;
}    
#search {
    font-size: 16px;
    width: 70%;
    padding: 10px;
    border: 0px;
    outline: none;
    float: left;
}
li{
    content: ">";
    text-align: justify;
    list-style: none;
    padding: 5px 0px 5px 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #efefef;
    width: 88%;
    height: auto;
    background-color: #F4F8FF;
    border-radius: 20px;
    box-shadow: 0px 5px 8px rgb(194, 194, 194);
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}
p{
    white-space: nowrap;
}
select{
    width: 100px;
    height: auto;
    padding: .8em .5em;
    border: 1px solid #999;
    font-family: inherit;
    background: url('../images/arrow.jpg') no-repeat 95% 50%;
    border-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.btn3{
    width: 50px;
    height: 30px;
    border: 0px;
    background: #E4F0FF;
    outline: none;
    float: right;
    color: #000000;
    position: absolute;
}
.day{
    text-align: right;
}
#searchBox {
    
}
.list {
    margin-top: 50px;
}