<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <title>가져가!!!</title>
</head>
<body>
    <button class="btn2"><a href="{{ url_for('main.register') }}">등록</a></button>
    <h1><a href="{{ url_for('main.index') }}">가져가!!!</a></h1>
    
    <center>
    <div class="search">
        <input id="search" type="text" value="{{ search }}" placeholder="학번을 입력해 택배를 조회하세요">
        <button class="btn" onclick="javascript:moveUrl()">검색</button>
    </div>

    {% if search == '' %}
    <div id="sortBox">
        <select id="sort" name="sort">
            <option value="time">시간순</option>
            <option value="studentNumber">학번순</option>
            <option value="name">이름순</option>
        </select>
        <button type="button" onclick="javascript:setSortImage()" value="" id="abc" name="abc">
            <img id="sortImage" src="">
        </button>
        <button class="btn3" onclick="javascript:moveUrl()">적용</button>
    </div>
    {% endif %}
    
    </center>
    <div class="list">
    <ul>
        {% for box in boxes %}
        <center>
        <li>
            <h3 style="display: inline">{{ box.studentNumber }}</h3>
            <h3 style="display: inline">{{ box.name }}</h3><br>
            <p style="display: inline">{{ box.date }}</p>
            <p style="display: inline">{{ box.time }}</p>
            {% if search != '' %}
            <button onclick="javascript:deleteBox('{{ box.id }}')">삭제</button>
            {% endif %}
        </li>
        {% endfor %}
    </center>
    </ul>
</div>
</body>
<script>
    const sort = document.getElementById("sort");
    const abc = document.getElementById("abc");
    const image = document.getElementById("sortImage");
    const searchContent = document.getElementById("search");

    window.onload = function() {
        console.log('set 실행됨')

        sort.value = '{{ sort }}';
        abc.value = '{{ abc }}';
        
        if (abc.value == '1') {
            image.src = "{{ url_for('static', filename='images/narim.png') }}";
        }
        else if (abc.value == '0'){
            image.src = "{{ url_for('static', filename='images/oreum.png') }}";
        }
    }
    function moveUrl() {
        window.location.href = "{{ url_for('main.index') }}"+"?search="+searchContent.value+"&sort="+sort.value+"&abc="+abc.value;
    }
    function deleteBox(id) {
        const data = {
            id,
        }
        $.ajax({
            type: 'DELETE',
            url: "{{ url_for('main.index') }}",
            //dataType: 'json',
            data: JSON.stringify(data),
            error: function(request,status,error){
                console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
            }
        })

        window.location.reload()
    }
    function setSortImage() {
        if (abc.value == '1') {
            abc.value = '0';
            image.src = "{{ url_for('static', filename='images/oreum.png') }}";
        }
        else if (abc.value == '0'){
            abc.value = '1';
            image.src = "{{ url_for('static', filename='images/narim.png') }}";
        }
    }
</script>
</html>
