<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
    <title>가져가!!!</title>
</head>
<body>
    <h1><a href="{{ url_for('main.index') }}">가져가!!!</a></h1>
    <p>등록할 택배의 정보를 입력해주세요.</p>
    <form action="" method="post">
        <input name="name" placeholder="이름">
        <input name="studentNumber" placeholder="학번">
        <input name="content" placeholder="택배 물품"><br><br>
        <button type="submit">등록</button>
    </form>
</body>
</html>
