<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>가져가!!!</title>
</head>
<body>
    <h1>택배 등록</h1>
    <button type="button"><a href="{{ url_for('main.index') }}">이전으로</a></button>
    <form action="" method="post">
        <input type="text" name="name" placeholder="이름">
        <input type="text" name="studentNumber" placeholder="학번">
        <input type="submit">
    </form>
</body>
</html>